.container {
  flex-wrap: wrap;


  .card {
    height: 300px;
    width: 300px;
    overflow: hidden;
    margin: 10px;

    .mat-card-title-group {
      display: flex;
      justify-content: center;
    }

    .wer {
      height: 250px;
      width: 250px;
      margin: 10px;
    }

    h1 {
      text-align: center;

    }
  }


}